<div class="col-sm-12">
  <div class="col-sm-6">
    <button class="btn btn-primary" (click)="fetchData()">Fetch Data</button>
    <button class="btn btn-danger" (click)="stopSequenceCalls()">Stop Data</button>
    <button class="btn btn-primary" (click)="clearData()">Clear</button>
  </div>
  <br/>
  <div class="col-sm-6">
    <button class="btn btn-primary" (click)="creatmessages()">Socket IO</button>
    <button class="btn btn-danger" (click)="stopSendingMessages()">Stop Data</button>
  </div>
</div>


<div *ngFor="let user of userData">
  <p>User Id: {{user.id}} Name: {{user.fullName}} Project: {{user.project}}</p>
</div>
