<div class="container">
  <div class="col-sm-7">
    <div class="container-border">
      <label class="lbl-text">Students Result Board</label>
    </div>
    <table class="table table-hover table-bordered">
      <thead>
      <tr>
        <th scope="col">Student Name</th>
        <th scope="col">Roll Number</th>
        <th scope="col">Total Marks</th>
        <th scope="col">Status</th>
      </tr>
      </thead>
      <tbody *ngIf="studentsData">
      <tr *ngFor="let student of studentsData">
        <td ccStudentInfo [studentInfo]="student">{{student.name}}</td>
        <td ccStudentInfo [studentInfo]="student">{{student.rollNumber}}</td>
        <td class="text-right" ccStudentInfo [studentInfo]="student">{{student.totalMarks}}</td>
        <td ccStudentInfo [studentInfo]="student">{{student.status}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="container student-form">
  <div class="col-sm-7">
    <div class="make-border">
      <label class="lbl-text-form">Students Form</label>
      <hr class="horizontal-line">
      <form [formGroup]="studentForm">
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Name : </label>
          <div class="col-sm-9">
            <input type="text" class="form-control" formControlName="name"
                   title="name" placeholder="Enter Name" [maxlength]="20">
            <small class="form-text text-danger"
                   *ngIf="studentForm.get('name').errors && studentForm.get('name').touched">
              valid alpha numeric and space
            </small>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Last Name : </label>
          <div class="col-sm-9">
            <input type="text" class="form-control" formControlName="lastName"
                   title="last name" placeholder="Enter Last Name" [maxlength]="20">
            <small class="form-text text-danger"
                   *ngIf="studentForm.get('lastName').errors && studentForm.get('lastName').touched">
              valid only alphabetic and space
            </small>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Class : </label>
          <div class="col-sm-9">
            <input type="text" class="form-control" formControlName="class"
                   title="class" placeholder="Enter Class" [maxlength]="3">
            <small class="form-text text-danger" *ngIf="studentForm.get('lastName').errors &&
                    studentForm.get('lastName').touched">
              valid alpha numeric chars
            </small>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Year : </label>
          <div class="col-sm-9">
            <input type="text" class="form-control" formControlName="year"
                   title="year" placeholder="Enter Valid Year" [maxlength]="4" numberOnly="true">
            <small class="form-text text-danger"
                   *ngIf="studentForm.get('year').dirty && studentForm.get('year').errors &&
                   !studentForm.get('year').errors.validYear">
              Please enter valid year less than {{currentYear}}.
            </small>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Percentage : </label>
          <div class="col-sm-9">
            <input type="text" class="form-control" formControlName="percentage"
                   title="Percentage" placeholder="Enter Percentage" [maxlength]="3" numberOnly>
            <small class="form-text text-danger" *ngIf="studentForm.get('percentage').dirty &&
                    studentForm.get('percentage').errors && !studentForm.get('percentage').errors.validPercent">
              Please recheck enter value.
            </small>
          </div>
        </div>
        <div class="form-group">
          <button class="btn btn-primary" (click)="doValidate()">Validate</button>
          <button class="btn btn-danger" (click)="doReset()">Reset</button>
        </div>
      </form>
    </div>
  </div>
</div>
